.landing_page {
  background-image: url('./lake.jpg');
  height: 100vh;
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
}

.logo-box {
  display: inline-block;
  margin-top: 180px;
  margin-bottom: 30px;
  width: 420px;
  height: 120px;
  padding-top: 18px;
  text-align: center;
  background: rgb(20, 51, 90);
  color: white;
  font-size: 55px;
  font-weight: bold;
  mix-blend-mode: multiply;
}

.signinform-container {
  margin: auto; 
}

#reset_link {
  color: rgb(20, 51, 90);
  opacity: 0.6;
  margin-right: 10px;
}

#signup_link {
  color: rgb(20, 51, 90);
  opacity: 0.6;
}